.EditPeriod {
  .tab-content {
    margin-top: 15px;

    .FormItem:last-child {
      margin-bottom: 0;
    }
  }

  .days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -5px;

    & > * {
      margin: 5px;
      flex-grow: 1;
    }

    button {
      flex-shrink: 1;
      flex-grow: 0;
    }
  }
}